* {
    padding: 0;
    margin: 0;
    font-family: 'Rubik';
}

body {
    background-color: #FFF9EF !important;
    overflow: hidden;
}

.progress-bar {
    background-color: #27355C !important;
    border-radius: 0 0.5rem 0.5rem 0 !important;
}

.progress {
    background-color: #AEAEAE !important;
    border-radius: 0 !important;
}

.container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main {
    min-height: 50vh;
}

.card {
    display: flex;
    flex-direction: row !important;
    min-width: unset !important;
}

.card:not(.main, .navbar) {
    background-color: #FFFFFF !important;
    border-radius: 0 !important;
    border: 0 !important;
}

.card-title {
    margin: 1rem 0 2rem 0 !important;
    font-weight: bold;
}

.navbar span {
    color: #AEAEAE;
}

.navbar span:hover {
    color: #FFFFFF;
}

.navbar img {
    height: 95px;
    width: 110px;
}

.navbar a {
    margin: 0 auto;
}

.navbar {
    background-color: #27355C !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    padding: 1rem 0 !important;
}

.container-fluid {
    background-color: #27355C;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0 2rem !important;
}

.nav-selection {
    display: flex;
    flex-direction: column;
}

.nav-selection span {
    font-weight: 400;
}

.lr-buttons {
    width: -webkit-fill-available;
    bottom: -55px;
}

.lr-buttons img {
    height: 45px;
    width: 45px;
    padding: 12px;
    background-color: #DAE0EF;
    border-radius: 50%;
}

.answer-cards {
    width: 80%;
    display: flex;
    justify-content: center;
    margin-bottom: 2.5rem;
}

.letter {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    margin-right: 2.5rem;
    padding: 24px;
    font-size: 1.5rem;
    background-color: #D7D7D7;
}

.card-body:not(.title) {
    display: flex;
    align-items: center;
    font-weight: 500;
    padding: 0.5rem;
}

.title {
    background-color: #F7F7F7;
    border-radius: 0.375rem;
}

.card .bg-success {
    background-color: #B7F799 !important;
}

.bg-success div:not(.answer) {
    background-color: #4EBE19 !important;
}

.bg-success strong, .bg-danger strong {
    color: #FFFFFF !important;
}

.card .bg-danger {
    background-color: #FFA3A4 !important;
}

.bg-danger div:not(.answer) {
    background-color: #F91819 !important;
}

.disabled {
    filter: opacity(25%);
}

.left-right {
    border-radius: 50%;
    border: 0;
}

.d-none {
    display: none !important;
}

.trophy {
    position: absolute;
    right: 0;
    height: 200px;
}

.brain-result {
    height: 100px;
}

.share {
    border: 0;
    background-color: #193CE9;
    color: #FFFFFF;
    padding: 6px 50px;
    border-radius: 10px;
}

.replay {
    color: #193CE9;
}

.score {
    color: #F38630;
    margin-right: 50px;
}

.end-screen h1 {
    font-weight: 700;
    font-size: 20px;
}